doctype
html
    head
        title MultiVision
        link(rel="shortcut icon", href="/favicon.ico", type="images/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/tpastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")

    body(ng-app='app')
        block main-content
        include scripts