.container
    .jumbotron
        h1 multivision
        p welcome to multivision! the most comprehensive and complete collection of online training videos

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials//main/new-courses'")

